<form [formGroup]="form" (submit)="submit()" class="login-form">

    <h1 class="h3 mb-3 fw-normal fields">Please sign in</h1>

    <input formControlName="email" type="email" class="form-control fields" placeholder="name@example.com">

    <input formControlName="password" type="password" class="form-control fields" placeholder="Password">

    <button class="w-100 btn btn-lg btn-primary fields" type="submit">Sign in</button>
    <h4>Dont have an account? <a [routerLink]="['/register']">Sign up</a> </h4>
</form>