<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ boardTitle }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="boardImage"
      alt="Photo of a Shiba Inu"
      class="Image"
    />
    <mat-card-content>
      <p>
        {{ boardDescription }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>
        <mat-icon>add_shopping_cart</mat-icon>Add To Cart
      </button>
    </mat-card-actions>
  </mat-card>
  <div class="table-container">
    <table>
      <tr>
        <th><h2>Color</h2></th>
        <th><h2>Size</h2></th>
        <th><h2>Price</h2></th>
      </tr>
      <tr *ngFor="let item of items">
        <td><b>{{item.color}}</b></td>
        <td><b>{{item.size}}</b></td>
        <td><b>{{item.price}}</b></td>
      </tr>
    </table>
  </div>
</div>
