.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
 .top-text{
    margin-left: 1rem;
    font-size:x-large;
    font-weight: 700;
 } 
 .menu-text{
   font-size: large;
   font-weight: 500;
 }