<div class="product-list">
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>
    <app-card-view class="item"></app-card-view>


</div>